table {
  width: 100%;
}

.container {
  width: 100%;
  min-height: 80%;
}

.containerInternal {
  padding-top: 25px;
}

.rounding {
  border-radius: 25px 25px 0 0;
}

.filter {
  text-align: center;
}
.icon {
  color: #bd5aff;
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.nullData {
  display: block;
  width: 100%;
  text-align: center;
  padding: 40px;
}

.description {
  width: 50%;
  padding-right: 10px;
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.delete {
  text-align: center !important;
}

.viewed {
  text-align: center !important;
}

.tamFilterOption {
  width: 20%;
}

.spinner {
  text-align: center !important;
  position: absolute;
  margin: auto;
  top: 40%;
  left: 0;
  right: 0;
}
