.conteiner {
    display: grid;
    grid-gap: 20px;
    padding: 5%;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.ancho {
    width: 100%;
}

.boton {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100px 100px 1fr;
    padding-left: 5%;
    padding-bottom: 5%;
}

.botonSeleccionProyecto {
    padding-left: 20px;
    margin: 20px;
}

.input {
    width: 100%;
}