table {
    width: 100%;
}

.container {
    width: 100%;
    min-height: 80%;
}

.redondear {
    border-radius: 25px 25px 0 0;
    ;
}

.icono {
    color: #bd5aff;
    cursor: pointer;
    padding-left: 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.cartelSinDatos {
    display: block;
    width: 100%;
    text-align: center;
    padding: 40px;
}