<div class="footer">
  <div class="container">
    <div class="logoFooter">
      <a class="btn btn-link btn-neutral" href="#">
        <img src="../../../assets/img/logoCompletoAngema.svg" ></a>
    </div>
  </div>

  <div class="container">
    <div class="">
      <ul class="styleFooter">
        <span class="titleFooter">Angema SAS</span>
        <hr class="hrFooter">

        <li>
          <a href="https://www.angema.com.ar/home#servicio">Servicios</a>
        </li>
        <li>
          <a href="https://www.angema.com.ar/home#tecnologia">Tecnologías</a>
        </li>
        <li>
          <a href="https://www.angema.com.ar/quienesSomos">Nosotros</a>
        </li>
        <li>
          <a href="https://www.angema.com.ar/home#contacto">Contacto</a>
        </li>
      </ul>
    </div>

    <div class="">
      <ul class="styleFooter">
        <span class="titleFooter">Ayuda</span>
        <hr class="hrFooter">
        <li>
          <a href="/preguntasFrecuentes">Preguntas Frecuentes</a>
        </li>

      </ul>
    </div>

    <div class="">
      <ul class="styleFooter">
        <span class="titleFooter">Contacto</span>
        <hr class="hrFooter">
        <li class="ListFooter">
          <a href="mailto:info@angema.com.ar"><b>info@angema.com.ar</b></a>
        </li>
      </ul>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="logoAngema">&copy; 2021. Angema SAS. Todos los derechos reservados.</p>
        <p class="logoAngema">Versión: 0.0.5</p>
      </div>
    </div>
  </div>
</div>

