<div class="footer">
    <div class="container">

        <div class="">
            <ul class="footerEstilo">
                <span class="footerTitulo">Angema SAS</span>
                <hr class="footerHr">

                <li>
                    <a href="https://www.angema.com.ar/home#servicio">Servicios</a>
                </li>
                <li>
                    <a href="https://www.angema.com.ar/home#tecnologia">Tecnologías</a>
                </li>
                <li>
                    <a href="https://www.angema.com.ar/quienesSomos">Nosotros</a>
                </li>
                <li>
                    <a href="https://www.angema.com.ar/home#contacto">Contacto</a>
                </li>
            </ul>
        </div>

        <div class="">
            <ul class="footerEstilo">
                <span class="footerTitulo">Ayuda</span>
                <hr class="footerHr">
                <li>
                    <a href="/preguntasFrecuentes">Preguntas Frecuentes</a>
                </li>

            </ul>
        </div>

        <div class="">
            <ul class="footerEstilo">
                <span class="footerTitulo">Contacto</span>
                <hr class="footerHr">
                <li class="footerLista">
                    <a href="mailto:info@angema.com.ar"><b>info@angema.com.ar</b></a>
                </li>


            </ul>
        </div>

    </div>
</div>