<nav class="menu">
    <label class="logo">
        <img src="assets/img/logoCompleto.svg">
    </label>
    <ul class="menu_items" *ngxPermissionsOnly="['ROLE_ADMIN', 'ROLE_DEVS', 'ROLE_USER']">
<!--      <li *ngxPermissionsOnly="['ADMIN']"><a routerLink="/login">Login</a></li>-->
<!--      <li *ngxPermissionsOnly="['ADMIN', 'GUEST']"><a href="https://www.angema.com.ar/home">Web</a></li>-->
      <li *ngxPermissionsOnly="['ROLE_ADMIN', 'ROLE_DEVS']"><a routerLink="/home">Carga Horas</a></li>
      <li *ngxPermissionsOnly="['ROLE_ADMIN', 'ROLE_DEVS']"><a routerLink="/resultado">Registros Horas</a></li>
      <li *ngxPermissionsOnly="['ROLE_ADMIN']">
        <a *ngIf="true" routerLink="/administracion">Administracion</a>
      </li>
      <li *ngxPermissionsOnly="['ROLE_ADMIN']">
        <a *ngIf="true" routerLink="/estadistica">Estadisticas</a>
      </li>
<!--      <li *ngxPermissionsOnly="['ROLE_USER']"><a routerLink="/contacto">Mensajes</a></li>-->
    </ul>
    <span class="btn_menu">
        <img src="assets/img/menu.svg">
    </span>
</nav>
