<nav class="menu">
    <label class="logo">
        <img src="../../../assets/img/logoCompleto.svg">
    </label>
    <ul class="menu_items">
        <li class=""><a routerLink="/home">Carga de Horas</a></li>
        <li><a href="https://www.angema.com.ar/home">Web</a></li>
        <li><a routerLink="/resultado">Resultados</a></li>
        <li><a href="https://www.angema.com.ar/home#contacto">Contacto</a></li>


    </ul>
    <span class="btn_menu">
        <img src="../../../assets/img/menu.svg">
        </span>
</nav>