<div>
  <div class="container">
    <div class="conteiner">
      <div class="tabla">
        <form [formGroup]="form" (ngSubmit)="newData()">
          <table class="input">
            <tr>
              <td class="inputTable">
                <div>
                  <h2>Fecha</h2>
                  <mat-form-field appearance="fill" class="width">
                    <mat-label>Seleccione fecha trabajada</mat-label>
                    <!-- #docregion toggle -->
                    <input matInput [matDatepicker]="picker" formControlName="fecha" [(ngModel)]="selectedDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <!-- #enddocregion toggle -->
                  </mat-form-field>
                </div>
              </td>
              <td class="inputTable">
                <div>
                  <h2>Proyecto</h2>
                  <mat-form-field appearance="fill" class="width">
                    <mat-label>Seleccione proyecto trabajado</mat-label>
                    <mat-select formControlName="proyecto" [(ngModel)]="selectedProject">
                      <mat-option *ngFor="let project of projects" [value]="project">{{project.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
            </tr>

            <tr>
              <td class="inputTable">
                <div>
                  <h2>Horas</h2>
                  <mat-form-field appearance="fill" class="width">
                    <mat-label>Cantidad de horas trabajadas</mat-label>
                    <input matInput type="number" formControlName="horas">
                  </mat-form-field>
                </div>
              </td>

            </tr>
          </table>
          <div>
            <h2>Descripción (Opcional)</h2>
            <mat-form-field appearance="fill" class="width">
              <mat-label>Ingrese una descripcion de la tarea realizada</mat-label>
              <textarea matInput formControlName="descripcion" class="widthDescription" maxlength="250"></textarea>
            </mat-form-field>
          </div>
          <div class="button">
            <button type="submit" [disabled]="!disabledButton(form)" mat-raised-button color="primary">Aceptar</button>
            <button mat-raised-button color="basic">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    <app-resultado></app-resultado>
  </div>

</div>
