.conteiner {
  width: 100%;
  min-height: 80%;
  display: grid;
  grid-gap: 20px;
  padding: 5%;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.width {
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}

.buttonSelectionProject {
  padding-left: 20px;
  margin: 20px;
}

.input {
  width: 100%;
}

.nullData {
  display: block;
  width: 100%;
  text-align: center;
  padding: 40px;
}

.spinner {
  text-align: center !important;
  position: absolute;
  margin: auto;
  top: 40%;
  left: 0;
  right: 0;
}
