<section class="container-fluid h-100">
  <div class="row h-100 d-flex align-items-center wrapper">
    <div class="col-12 col-lg-6 welcome" [ngClass]="routeAnimationsElements">
      <h1 class="ml-5">
        {{ 'LOGIN.TITLE'}}
      </h1>
      <h3 class="ml-5">
        {{ 'LOGIN.SUBTITLE'}}
      </h3>
    </div>

    <div
      class="col-12 col-lg-6 card-container"
      [ngClass]="routeAnimationsElements"
    >
      <mat-card>
        <h1>
          {{ 'LOGIN.CARD_TITLE'}}
        </h1>
        <mat-divider [inset]="true"></mat-divider>
        <p class="mt-3">
          {{ 'LOGIN.NO_ACCOUNT'}}
        </p>
        <button
          disableRipple
          class="primary-line-button"
          (click)="onCreateAccountClick()"
        >
          {{ 'LOGIN.CREATE_ACCOUNT'}}
        </button>
      </mat-card>
    </div>
  </div>
</section>
