<div class="container">
  <nav class="menu">
    <label class="logo">
      <img src="../../../assets/img/logoCompleto.svg">
    </label>
    <ul class="menu_items">
      <li class=""><a routerLink="/home">Cargar Horas</a></li>
      <li><a routerLink="/resultado">Registrar Horas</a></li>
      <li><a routerLink="/estadistica">Estadisticas Horas</a></li>
      <li><a routerLink="/contacto">Mensajes</a></li>
      <li><a href="https://www.angema.com.ar/home">Web</a></li>
      <li><a routerLink="auth/login">Login</a></li>
    </ul>
    <span class="btn_menu">
        <img src="../../../assets/img/menu.svg">
    </span>
  </nav>

</div>
